.php_cs
.idea
/app/etc
/app/.htaccess
/app/*.php
/bin
/dev/*
!/dev/tools
/dev/tools/*
!/dev/tools/grunt/
/dev/tools/grunt/*
!/dev/tools/grunt/configs
/generated
/lib
/node_modules
/pub
/setup
/var
/vendor
/auth.json
/index.php

