<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="store_redirect" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Store Redirect</label>
            <tab>Kawa</tab>
            <resource>Kawa_B2B::configuration</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="store_redirect" translate="label comment" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Store redirect:</label>
                    <frontend_model>Kawa\StoreRedirect\Block\Adminhtml\Form\Field\Navigation</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <comment>Language and Region are case-insensitive.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
